h1= data.title
section
  h1= data.name
  section
    if true === data.loggedin && true === data.participated
      p @#{data.user}
    else if true === data.loggedin && false === data.participated
      p @#{data.user} (ゲスト)
    else
      p
        a(href='/login') ログイン
  section
    h2 会場
    form()
      p
        if !data.loggedin
          input(type='submit', value='イマココ!', id='gps', disabled)
        else if data.participated
          input(type='submit', value='イマココ!', id='gps')
        else
          input(type='submit', value='イマココ!', id='gps', disabled)
  section
    h2 出欠
    p
      strong= data.number.current
      | / #{data.number.max}
    dl
      each attendee in data.attendees
        dt
          strong @#{attendee.screen_name}
        if attendee.attended
          dd(id= attendee.user_id) #{attendee.attended}
        else
          dd(id= attendee.user_id) #{attendee.distance}

script(type='text/javascript', charset='UTF-8', src='/socket.io/socket.io.js')
script(type='text/javascript', charset='UTF-8', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', charset='UTF-8', src='/javascripts/myscript.js')
